<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footprint</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="css/custom.css">
  <link href="css/cover.css" rel="stylesheet">
    
   </head>

   <style>
      li {
        color: rgba(1, 77, 7, 0.5); 
        font-size:20px
      }
      h3 {
        color:rgba(1, 77, 7, 0.7)
      }
      .btn {
        background-color: rgba(1, 77, 7, 0)
      }
      .btn:hover {
        background-color: rgba(1, 77, 7, 0.5);
      }
   </style>

   <main class="px-3">
  
  <h1> Hello, <%= @user.username %>. Here Are Your Stats!</h1>

  <h3>Activities:</h3>
    <% if @user.activities == [] %>
      <p> No activities to show! </p>
    <% else %>
      <% @user.activities.each do |a| %>
      <li> <a href="/activities/<%=a.id%>"> <%= a.name.titleize %> </a></li>
    <%end%>
  <%end%>

  <% a = @user.activities.map {|d| d.credits }%>
  <h3>Your Balance:</h3>
  <h4><%= a.inject(0){|sum,x| sum + x }%> points</h4>
<br>
<br>
<p class="lead">
      <a href="/activities/new" class="btn btn-lg btn-secondary fw-bold" style="color: rgba(1, 77, 7, 0.5);">Add an Activity</a>
      <a href="/logout" class="btn btn-lg btn-secondary fw-bold" style="color: rgba(1, 77, 7, 0.5);">Logout</a>
</p>

  </main>