<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footprint</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

    <link href="css/custom.css" rel="stylesheet">
    
  </head>


<main class="px-3">
<h1> Hello <%=@current_user.username%>!</h1>
<br>
<br>

<%if @activities==[]%>
  <p>No Activities to Show!</p>
<%else%>
  <h3 style="color: rgba(1, 77, 7, 0.7);">All Activities</h3>
  <% @activities.each do |activity| %>
    <li style="color: rgba(1, 77, 7, 0.5); font-size:20px"> <%= activity.name.titleize %> </li>
  <%end%>
<%end%>
<br>
<br>


<p class="lead">
      <a href="/activities/new" class="btn btn-lg btn-secondary fw-bold" style="color: rgba(1, 77, 7, 0.5);">Add an Activity</a>
      <a href="/users/<%=@current_user.slug%>" class="btn btn-lg btn-secondary fw-bold" style="color: rgba(1, 77, 7, 0.5);">Profile</a>
</p>
</main>


</html>