<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footprint</title>

    <link href="css/custom.css" rel="stylesheet">
    
   </head>

    

  <main class="px-3">
    <h1>Welcome to Footprint.</h1>
    <p class="lead">Footprint is a basic activity tracker that records "green" activities. Earn credits with each sustainable activity recorded!</p>
    <p class="lead">
      <a href="/login" class="btn btn-lg btn-secondary fw-bold" style="color: rgba(1, 77, 7, 0.5);">Login</a>
      <a href="/signup" class="btn btn-lg btn-secondary fw-bold" style="color: rgba(1, 77, 7, 0.5);">Signup</a>
    </p>
  </main>

 



    
  </body>
</html>
